@font-face {
  font-family: "MetalFont";
  src: url(MetalMania-Regular.ttf);
}

#clock {
  color: black;
  font-size: 24px;
}

#clock-container {
  position: absolute;
  top: 10px; /* od góry ekranu */
  right: 10px; /* od prawej krawędzi */
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
}

.navbar a {
  color: rgba(44, 25, 33);
  text-decoration: none;
  padding: 15px;
  display: flex;
  text-align: center;
  font-size: 24px;
}

.navbar a:hover {
  border-radius: 20px;
  background-color: rgba(124, 124, 124, 0.24);
}

.navbar {
  display: flex;
  justify-content: center;
  position: relative;

  top: -10px;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 0;
  margin: 0;
}

.navbar li {
  float: left;
  font-size: 20px;
}

.basic_band_info {
  margin: 150px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.basic_band_text h1 {
  font-size: 38px;
  display: flex;
  color: white;
}

.basic_band_text {
  width: 500px;
  font-size: 20px;
  margin-left: 70px;
  margin-right: 70px;
  gap: 40px;

  display: flex;

  align-self: center;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  color: white;
}

.basic_band_info .image_div img {
  object-fit: cover;
  width: 100%;
  height: 80%;
}
.basic_band_info .image_div {
  display: flex;
  align-items: center;
}

.basic_band_info div {
  width: 600px;
  height: 400px;
  position: relative;
}

.basic_band_info:nth-child(even) {
  flex-direction: row-reverse;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;

  padding: 3px;
  color: white;
  text-align: center;
  height: 200px;
}

body {
  font-family: MetalFont;
  margin: 0;
  background: #000000;
}

.red_vic {
  height: 100vh;
  width: 100vw;

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, black 100%),
    url(tlo-ps.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.red_vic.small {
  height: 30vh;
}

.red_vic.big {
  height: 100vh;
  background-position: center;
}

.blue_vic {
  height: 100vh;
  width: 100vw;

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, black 100%),
    linear-gradient(to top, rgba(0, 0, 0, 0) 70%, black 100%), url(tlo-rip.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.band_photo {
  width: 10%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 85%, black 100%),
    linear-gradient(to top, rgba(0, 0, 0, 0) 85%, black 100%),
    linear-gradient(to left, rgba(0, 0, 0, 0) 85%, black 100%),
    linear-gradient(to right, rgba(0, 0, 0, 0) 85%, black 100%), url(band1.jpg);
  background-position: center;
  background-repeat: no-repeat;

}

.megadeth_logo {
  position: relative;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

.contact-body {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.wrapper {
  width: 38%;
  color: black;
  padding: 30px 40px;
  border-radius: 10px;
  background: transparent;
}

.wrapper h1 {
  font: 36px;
  text-align: center;
}

.wrapper .input-box-email,
.input-box-topic {
  background-color: rgb(20, 20, 20);
  border-radius: 40px;
  width: 100%;
  height: 50px;

  margin: 30px 5px;
}

.contents {
  background-color: rgb(20, 20, 20);
  border-radius: 40px;
}

.wrapper .contents {
  height: 200px;
}

input,
textarea {
  color: white;
  font-size: 16px;

  box-sizing: border-box;

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.39);
  border-radius: 40px;
  padding: 20px 45px 20px 20px;
}

textarea {
  height: 200px;
}

input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
}

textarea::placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.wrapper .btn {
  margin: 30px 0px 20px 0px;
  color: #ffffff;
  width: 100%;
  height: 45px;
  background-color: rgb(0, 0, 0);
  border: none;
  outline: none;
  border-radius: 40px;

  font-size: 16px;
  font-weight: 600;
}

/* sprawia że  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}
