@font-face {
  font-family: "MetalFont";
  src: url(MetalMania-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100%;

  background: #000000;
  overflow-x: hidden;

  font-family: MetalFont;
}

#rect1 {
  width: 20%;
}

.logo_and_time {
  display: flex;
  background-color: transparent;
  width: 100%;
}

.logo {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: min(400px, 100%);
}

.megadeth_logo {
  position: relative;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#clock {
  font-size: 18px;
  padding: px;
}

#clock-container {
  display: flex;
  justify-content: end;
  width: 20%;
}

.navbar {
  display: flex;
  justify-content: center;
  position: relative;

  top: -10px;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 0;
  margin: 0;
}
.navbar ul {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
}

.navbar li {
  float: left;
  font-size: 20px;
}

.navbar a {
  text-decoration: none;
  padding: 15px;
  display: flex;
  text-align: center;
  font-size: 24px;
  border-radius: 20px;
}

.navbar a:hover {
  border-radius: 20px;
  background-color: rgba(124, 124, 124, 0.24);

  animation-name: skew-x-shaking;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

@keyframes skew-x-shaking {
  0% {
    transform: skewX(-15deg);
  }
  5% {
    transform: skewX(15deg);
  }
  10% {
    transform: skewX(-15deg);
  }
  15% {
    transform: skewX(15deg);
  }
  20% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

.red_vic a {
  color: black;
}
.blue_vic a {
  color: white;
}
.jet_vic a {
  color: white;
}

.header a {
  color: white;
}

.basic_band_info {
  margin: 100px;
  margin-top: 250px;
  margin-bottom: 250px;

  gap: 80px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.basic_band_info .image_div {
  max-width: 600px;
  min-width: 360px;
  border-radius: 40px;
}

.basic_band_info .image_div img {
  border-radius: 40px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.basic_band_info:nth-child(even) {
  flex-direction: row-reverse;
}

.basic_band_text {
  font-size: 20px;

  gap: 40px;

  display: flex;

  align-self: center;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  color: white;
  width: max(50%, 400px);
}

.basic_band_text h1 {
  font-size: 38px;
  display: flex;
  color: white;
}

.red_vic {
  display: flex;
  flex-direction: column;

  align-items: center;

  color: black;
  height: 100vh;
  width: 100%;

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, black 100%),
    url(tlo-ps.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.jet_vic {
  display: flex;
  flex-direction: column;

  align-items: center;

  color: black;
  height: 160vh;
  width: 100%;

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, black 100%),
    linear-gradient(to top, rgba(0, 0, 0, 0) 80%, rgb(0, 0, 0) 100%),
    url(images/jet_vic_background.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.jet_vic.nav {
  color: #ffffff;
}

.blue_vic {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, black 100%),
    linear-gradient(to top, rgba(0, 0, 0, 0) 70%, black 100%), url(tlo-rip.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blue_vic.nav {
  color: #ffffff;
}

.wrapper {
  width: max(50%, 600px);
  color: black;
  padding: 30px 40px;
  border-radius: 10px;
  background: transparent;
}

.wrapper h1 {
  font: 36px;
  text-align: center;
}

.wrapper .input-box-email,
.input-box-topic {
  background-color: rgb(20, 20, 20);
  border-radius: 40px;
  width: 100%;
  height: 50px;

  margin: 30px 5px;
}

.contents {
  background-color: rgb(20, 20, 20);
  border-radius: 40px;
}

.wrapper .contents {
  height: 200px;
}

input,
textarea {
  color: white;
  font-size: 16px;

  box-sizing: border-box;

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(34, 34, 34, 0.39);
  border-radius: 40px;
  padding: 20px 45px 20px 20px;
}

input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
}

textarea::placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper .btn {
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px 0px 20px 0px;
  color: #ffffff;
  width: 100%;
  height: 45px;
  background-color: rgb(20, 20, 20);
  border: none;
  outline: none;
  border-radius: 40px;

  font-size: 16px;
  font-weight: 600;
}

.btn:hover {
  background-color: rgb(41, 41, 41);
  border: 2px solid rgb(61, 61, 61);
  scale: 1.05;
}

#wrapper_container {
  display: flex;
  justify-content: center;
}

.gallery {
  margin-top: 150px;

  display: grid;
  grid-template-rows: repeat(auto-fit, 200px);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  justify-content: center;

  width: 100%;
  gap: 40px;
}

.gallery img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery img.t1x2 {
  grid-column: span 2;
  grid-row: span 1;
}
.gallery img.t2x3 {
  grid-column: span 2;
  grid-row: span 3;
}
.gallery img.t2x2 {
  grid-column: span 2;
  grid-row: span 2;
}
.gallery img.t3x3 {
  grid-column: span 3;
  grid-row: span 3;
}
.gallery img.t4x4 {
  grid-column: span 4;
  grid-row: span 4;
}

.gallery img.t1x1 {
  grid-column: span 1;
  grid-row: span 1;
}

img {
  transition: transform 0.4s ease;
}

img:hover {
  transform: scale(1.1);
}

#video_div {
  margin-top: 150px;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
}

video {
  width: 80%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;

  padding: 3px;
  color: white;
  text-align: center;
  height: 200px;
}
