main{
    display: flex;
    flex-direction: column;

}

#bar{
    display: flex;
    background-color: rgb(70, 70, 70);
    justify-content: center;
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    border-width: 1.5px;
    border-style:solid;
}
