main{
    display: flex;
    flex-direction: column;
    padding: 100px;
}

div .vertical{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px
}

input {
    width: 50px;
}

